@import url('https://fonts.googleapis.com/css2?family=Questrial');

#nav-bar,
.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-items li {
    padding-bottom: 7%;
}

#collections-list {
    margin-left: 8rem;
    margin-top: 3rem;
    color: #7C7D81;
}

#collections-list li{
    margin-left: 3rem;
}

#user-items {
    margin-right: 10.5rem;
}

#user-items li {
    padding-right: 3rem;
}

#brand-title {
    font-family: 'Questrial';
    font-weight: bold;
    font-size: 35px;
    color: black;
    padding-right: 1rem;
}

#horizontal-rule {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: -22px;
    color: #7C7D81;
    opacity: .2;
}

/* Hover abilities */
#brand-title:hover {
    cursor: default;
}
/* Nice trick to do exclude some list items */
#collections-list li:not(:first-child):hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(255, 125, 26);
    margin-bottom: -3px;
}

#cart:hover {
    cursor: pointer;
}

#profile-pic:hover {
    cursor: pointer;
    border: 2px solid rgb(255, 125, 26);
    border-radius: 50%;
    margin-right: -2px;
    margin-left: -2px;
}