@import url('https://fonts.googleapis.com/css2?family=Questrial');

#nav-bar,
.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

#collections-list {
    margin-left: 7rem;
    color: #7C7D81;
}

#collections-list li{
    padding-left: 3rem;
}

#user-items {
    margin-right: 7rem;
}

#user-items li {
    padding-left: 3rem;
}

#brand-title {
    font-family: 'Questrial';
    font-weight: bold;
    font-size: 35px;
    color: black;
    padding-right: 1rem;
}