#nav-bar,
.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

#collections-list {
    margin-left: 7rem;
    color: #7C7D81;
}

#collections-list li{
    padding-left: 3rem;
}

#user-items {
    margin-right: 4rem;
}

#user-items li {
    padding-left: 2rem;
}

#brand-title {
    font-weight: 780;
    font-size: 35px;
    color: black;
}